.chart-card{

    background:linear-gradient(
        145deg,
        #1E293B,
        #111827
    );

    border:1px solid rgba(255,255,255,.06);

    border-radius:28px;

    padding:28px;

    position:relative;

    overflow:hidden;

    box-shadow:
    0 20px 45px rgba(0,0,0,.35);

}

.chart-card::before{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    right:-90px;

    top:-90px;

    border-radius:50%;

    background:rgba(59,130,246,.08);

}

.chart-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.chart-header h2{

    color:white;

    font-size:24px;

    font-weight:700;

}

.chart-header span{

    color:#94A3B8;

    font-size:14px;

}