.evaluation-card{

    background:

    linear-gradient(
        145deg,
        #0B1120,
        #111827
    );


    padding:35px;


    border:

    1px solid rgba(255,255,255,.08);



    box-shadow:


    0 20px 45px rgba(0,0,0,.35);


}







.evaluation-top{


    display:flex;


    gap:35px;


    align-items:center;


}








.evaluation-progress{


    width:140px;


    flex-shrink:0;


}







/* progress text */


.evaluation-progress svg text{


    font-size:16px;


    font-weight:700;


}







.evaluation-top h2{


    color:white;


    display:flex;


    align-items:center;


    gap:12px;


    font-size:24px;


    margin-bottom:12px;


}







.evaluation-top h2 svg{


    color:#60A5FA;


    font-size:22px;


}







.evaluation-top p{


    color:#94A3B8;


    font-size:15px;


    line-height:1.6;


}








/* FEEDBACK */


.feedback-box{


    margin-top:35px;


    padding:25px;



    background:


    #020617;



    border-radius:12px;



    border:


    1px solid rgba(255,255,255,.06);


}







.feedback-box h3{


    color:white;


    display:flex;


    align-items:center;


    gap:10px;


    font-size:18px;


    margin-bottom:15px;


}







.feedback-box h3 svg{


    color:#FBBF24;


}







.feedback-box p{


    color:#CBD5E1;


    line-height:1.8;


    font-size:16px;


}







.evaluation-card:hover{


    border-color:rgba(148,163,184,.25);


    transition:.3s;


}







@media(max-width:700px){


    .evaluation-top{


        flex-direction:column;


        text-align:center;


    }



    .evaluation-progress{


        width:120px;


    }


}