.jd-card{

    background:#1E293B;

    padding:35px;

    border-radius:24px;

    border:1px solid rgba(255,255,255,.08);

    margin-bottom:35px;

}

.jd-card h2{

    color:white;

    font-size:30px;

    margin-bottom:8px;

}

.jd-card p{

    color:#94A3B8;

    margin-bottom:25px;

}

.jd-card textarea{

    width:100%;

    min-height:220px;

    resize:none;

    padding:20px;

    border:none;

    outline:none;

    border-radius:18px;

    background:#0F172A;

    color:white;

    font-size:15px;

    line-height:1.7;

    border:1px solid rgba(255,255,255,.08);

}

.jd-card textarea::placeholder{

    color:#64748B;

}

.upload-section{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top:25px;

}

.upload-btn{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px 24px;

    border-radius:14px;

    background:linear-gradient(135deg,#2563EB,#7C3AED);

    color:white;

    cursor:pointer;

    font-weight:600;

}

.resume-name{

    display:flex;

    align-items:center;

    gap:10px;

    color:#CBD5E1;

}

.analyze-btn{

    margin-top:30px;

    width:100%;

    border:none;

    padding:18px;

    border-radius:16px;

    background:linear-gradient(135deg,#2563EB,#7C3AED);

    color:white;

    font-size:17px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.analyze-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 35px rgba(37,99,235,.35);

}