.job-board{

display:flex;

gap:25px;

overflow-x:auto;

padding-bottom:20px;

margin-top:35px;

scroll-behavior:smooth;

}

.job-board::-webkit-scrollbar{

height:8px;

}

.job-board::-webkit-scrollbar-thumb{

background:#374151;

border-radius:20px;

}

